{%- comment -%}
    Put button everywhere you want to toggle sidebar filter
{%- endcomment -%}
<button class="wall-header__filters-btn" id="filter--sidebarToggle">
    <span class="wall-header__filter_text">Filter</span>
    <div class="icon-filters"></div>
</button>